html{background-image:url(./images\ \(2\).jpeg);}

.list{border-radius: 50px 0px 50px 0px;width: fit-content;
 background-image:linear-gradient(  to left,rgb(224, 137, 137),rgba(56, 56, 238, 0.904)) ;}

a{text-decoration: none;font-size: larger;
    color:black;font-weight: bold ;}

button{font-size: large;background: rgb(208, 233, 23);
 border-radius: 25px 20px;
 width: fit-content;border: inset;margin: 0px 12px;}

.list :hover{transform:scale(1.5) skew(25deg);transition: 1s linear ; background: green;}

input:focus{background: green;}

input{background:navajowhite ;}
#ok{font-size: larger;font-weight: bold;color: rgb(70, 5, 5)
 ;background: violet;}

h1{background:rgb(147, 202, 69) ;text-align: center;color: black;
border:  solid rgb(208, 231, 202) 7px;border-radius: 50px 0px 50px 0px ;
clear: both;}

h2{background: greenyellow;border-radius: 50px 0px 50px 0px;width:30%;
padding: 0px 40px;margin:5px auto;text-align: center;}

h3{background: rgb(135, 119, 226);border-radius: 50px 0px 50px 0px;width: 150px;
    padding: 0px 40px;}

h4{background: rgb(158, 94, 94);border:solid rgb(16, 5, 64)
    ;width: 350px ;padding: 0px 25px 
    ; background-origin;border-radius: 50px 0px 50px 0px; }

li{font-size: x-large;}

.page{background:rgb(218, 71, 177) ;text-align: center;}

p{font-size: 23px;color: aliceblue;}

img{border: solid rgb(143, 204, 193) 7px ; }

table{border:solid 5px rgb(178, 166, 219);
 color: antiquewhite;   width: 100%;text-align: center;}

td{border:solid 2px rgb(182, 179, 204);font-size: x-large;}

th{border:solid 3px rgb(226, 212, 200);background: rgb(19, 19, 18)
    ; color: rgb(210, 225, 129);font-size: x-large;}
th{height: 30px;}
caption{font-size: xx-large; color: rgb(247, 237, 233);}
footer{color: blue;}
audio{width: 100%;}
img{height: 200px;float:right;}

label{color: rgb(243, 232, 232);font-weight: 700;} 
   ul{list-style-type:square;color: antiquewhite;}
   span{color: aliceblue; font-size: xx-large;white-space: pre;color: aqua;}
input#rai{background: rgb(160, 14, 146);font-size: larger;font-weight: bold;
transform: translate(-195px);}
textarea{background: floralwhite;border: solid darkred 4px;}